<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>848646705739-4ft9vvtrs3u95516d5cs5run67uslp4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848646705739-4ft9vvtrs3u95516d5cs5run67uslp4t</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ81a1LQi2zg2ABdd-T2xtjChUaL1RKCo</string>
	<key>GCM_SENDER_ID</key>
	<string>848646705739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.korio</string>
	<key>PROJECT_ID</key>
	<string>korio-d75bf</string>
	<key>STORAGE_BUCKET</key>
	<string>korio-d75bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848646705739:ios:65940783522de8b5</string>
	<key>DATABASE_URL</key>
	<string>https://korio-d75bf.firebaseio.com</string>
</dict>
</plist>
